.App {
  background-color: #282c34;
  height: 100vh;
}

.main {
  display: flex;
  background-color: #282c34;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.contents {
  background-color: white;
  padding : 50px 100px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 940px;
  flex-direction: column;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.time {
  font-size: 36px;
  font-weight: bold;
  color : #1976d2;
}